{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ title }} ✅</h1>

    <input type="text" placeholder="https://t.me/my-awesome-bot"><br>
    <input type="submit">


{#    This friendly message is coming from:#}
{#    <ul>#}
{#        <li>Your controller at <code><a href="{{ '/Users/ihor.kpl/PhpstormProjects/boto/src/Controller/CatalogueController.php'|file_link(0) }}">src/Controller/CatalogueController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ '/Users/ihor.kpl/PhpstormProjects/boto/templates/catalogue/index.html.twig'|file_link(0) }}">templates/catalogue/index.html.twig</a></code></li>#}
{#    </ul>#}

{#    {% for entity in entities %}#}
{#        <a href="{{ path('catalogue_element_detail', {id: entity.id}) }}">Открыть</a><br>#}
{#        {{ entity.id }}<br>#}
{#        {{ entity.name }}<br>#}
{#        {{ entity.url }}<br>#}
{#        {{ entity.status }}#}
{#        <hr>#}
{#    {% endfor %}#}
</div>
{% endblock %}
